.button {
  width: 100%;
  height: 56px;
  padding: 16px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #5443B0;

  &:disabled,
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.loading {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .buttonText {
    font-weight: normal;
    font-size: 14px;
    color: #fff;
  }
}
